<label>Server Name</label>
<input type="text"
       class="form-control"
       placeholder="Name thy server"
[(ngModel)]="serverName">
<br>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!--<p>{{ serverCreationStatus }}</p>-->
<br>
<br>
<p *ngIf="serverCreated">Server was created, server name is: {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
<hr>

<!---------------------- Code for Assignment 2 ---------------------->
<h2>Mini-Assignment 2</h2>
<label>Username</label>
<input type="text"
       class="form-control"
       id="usernameText"
       [(ngModel)]="username"
        placeholder="What's that sweet username you got?">
<br>
<button
class="btn btn-info"
[disabled]="checkUsername()"
(click)="resetUsername()">Reset Username!</button>
<br>
<br>
<p>Your username is: {{ username }}</p>
<hr>

<!---------------------- Code for Assignment 3 ---------------------->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Mini-Assignment 3</h2>
      <br>
    </div>
    <div class="col-sm-6">
      <button
        class="btn btn-primary"
        (click)="toggleDisplay()">Display Details</button>
      <br>
      <br>
      <p
        [ngClass]="{hide: showParagraph === false}">
        This is a totally secret message, you shouldn't be reading it.</p>
    </div>
    <div class="col-sm-6">
      <ul>
        <li *ngFor="let click of clicks; let i = index">
          <!-- WHY DOES THIS NOT WORK?!?!?!?!?!?!?!?!?!-->
          <!--<p [ngStyle]="{backgroundColor: numClicks >= 5 ? 'lightskyblue' : 'transparent'}">{{ click }}</p>-->
          <!--WHY DOES THIS ONE WORK?!?!?!-->
          <p [ngStyle]="{backgroundColor: i >= 3 ? '#324D9A' : 'transparent'}"
             [ngClass]="{whiteText : i >= 3}">
            {{ click }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

